
.favourite-button {
  align-self:flex-end;
  background-color: white;
}

.titlecard {
  font-size: 1.2em;
  color: #514f4f;
  font-weight: bold;
}

.price {
  font-size: 1.5em;
  color: #514f4f;
}

.fab-on {
  color: lightgray;
}

.fab-off {
  color: sandybrown;
}

.menu-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.twitter-title {
  font-size: 1.1em !important;
  color: white !important;
  white-space: normal !important;
}

.twitter-text {
  font-size: 0.8em !important;
  color: white !important;
  white-space: normal !important;
}

@media (max-width: 600px) {
  .forDesktop {
    display: none;
  }
}

@media (min-width: 600px) {
  .forMobile {
    display: none;
  }
}