<md-card>
    <div layout="column" flex>    
      <div layout="column" class= "menu-image" [style.background-image]="'url(' + menuInfo.image + ')'" flex>
        <button md-fab (click)="changeFavouriteState()" class="push-sm favourite-button">
          <md-icon [class.fab-on]="!menuInfo.favourite" [class.fab-off]="menuInfo.favourite">star</md-icon>
        </button>
        <span flex></span>
        <div style="background-color: rgba(0,0,0,0.3)" flex>
          <md-list>
            <md-list-item>
              <img md-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
              <p md-line class="twitter-title">John Smith <span class="twitter-text">@jsmith</span></p>
              <p md-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its " | truncate: 100}}</p>
            </md-list-item>
            <md-list-item>
              <img md-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
              <p md-line class="twitter-title">Ann Smith <span class="twitter-text">@annS</span></p>
              <p md-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its " | truncate: 100}}</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
      <div class="pad">
        <div layout="row" class="push-bottom-sm">
          <span class="titlecard text-upper">{{menuInfo.orderName}}</span>
          <md-icon color="warn" class="md-18 push-right-xs push-left-sm">favorite</md-icon>
          <span>{{menuInfo.likes}}</span>
          <span flex></span>
          <span class="price push-left">{{menuInfo.price | number : '1.2-2'}}€</span>
        </div>
        <span>
          {{menuInfo.orderDescription}}
        </span>
        <div layout="row" class="forMobile justify-space-between push-top-sm" style="flex-wrap: wrap">
          <md-checkbox class="push-bottom-sm" *ngFor="let option of menuInfo.options" (change)="selectedOption(option)">{{option.name}} +{{option.price}}€</md-checkbox>
        </div>
        <md-checkbox class="push-bottom-sm forDesktop" *ngFor="let option of menuInfo.options" (change)="selectedOption(option)">{{option.name}} +{{option.price}}€</md-checkbox>
      </div>
    </div>
  <md-card-actions>
    <div class="property-text-right">
      <button md-button (click)="addOrderMenu()" color="accent" class="text-upper property-text-bold">Add to order</button>
    </div>
  </md-card-actions>
</md-card>