<md-tab-group md-stretch-tabs class="pull">

  <md-tab label="LOGIN">
    <form (ngSubmit)="logInSubmit(loginForm.form.value)" class="pad" #loginForm="ngForm">
      <div layout= "column" flex>
        <md-input-container color="accent" flex>
          <input mdInput placeholder="Username" ngModel name="username" required>
        </md-input-container>

        <md-input-container color="accent" flex>
          <input mdInput placeholder="Password" ngModel name="password" type="password" required>
        </md-input-container>
      </div>
      <div style="text-align: right">
        <button md-button md-dialog-close class="text-upper">Cancel</button>
        <button md-button type="submit" [disabled]="!loginForm.form.valid" color="accent" class="text-upper">Login</button>
      </div>
    </form>
  </md-tab>

  <md-tab label="SIGN UP">
    <form (ngSubmit)="signInSubmit(signForm.form.value)" class="pad" #signForm="ngForm">
      <div layout= "column" class="push-bottom-sm" flex>

        <md-input-container color="accent" flex>
          <input mdInput placeholder="Email" ngModel name="email" required validateEmail>
        </md-input-container>

        <md-input-container color="accent" flex>
          <input mdInput type="password" name="password" placeholder="Password" ngModel required validateEqual="confirmPassword" reverse="true" #password="ngModel">
        </md-input-container>

        <md-input-container color="accent" flex>
          <input mdInput type="password" name="confirmPassword" placeholder="Confirm Password" ngModel required validateEqual="password" reverse="false" #confirmPassword="ngModel">
          <md-error>Password mismatch</md-error>
        </md-input-container>
      </div>

      <md-checkbox #termsd>Accept terms</md-checkbox>

      <div class="align-right" flex>
        <button md-button md-dialog-close class="text-upper">Cancel</button>
        <button md-button type="submit" [disabled]="!(signForm.form.valid && termsd.checked)" color="accent" class="text-upper">Register</button>
      </div>
    </form>
  </md-tab>
</md-tab-group>
