<td-layout>
  <form (ngSubmit)="applyFilters()" #filterForm="ngForm">
    <div style= "background-color: white">
      <td-expansion-panel label="FILTER">
        <div layout-gt-xs="row" class="pad-left-md pad-right-md" style="align-items:center; border-bottom: 1px solid lightgrey" flex>
          <div layout="row" class="justify-space-around" style="align-items:center" flex>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Email" [(ngModel)]="filters.email" name="email">
            </md-input-container>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Reference number" [(ngModel)]="filters.bookingToken" name="bookingToken">
            </md-input-container>
          </div>
        </div>
        <div class="align-right">
          <button md-button type="button" (click)="clearFilters(filterForm)" class="text-upper property-text-bold">Clear filters</button>
          <button md-button type="submit" color="accent" class="text-upper property-text-bold">Apply filters</button>
        </div>
      </td-expansion-panel>
    </div>
  </form>

  <md-card *ngIf="orders | async as ordersData else loading">
    <md-card-title>ORDERS</md-card-title>
    <md-divider></md-divider>
    <td-data-table
      #dataTable
      [data]="ordersData.result"
      [columns]="columns"
      [sortable]="true"
      clickable="true"
      (rowClick)="selected($event)"
      (sortChange)="sort($event)">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="pageSizes" [total]="ordersData.pagination.total" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Rows per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card>

  <ng-template #loading>
    <md-progress-bar
      #loading
      color="accent"
      mode="indeterminate">
    </md-progress-bar>
  </ng-template>

</td-layout>
