<mat-list>
  <mat-list-item>
    <img mat-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
    <div mat-line class="twitter-title">John Smith <span class="twitter-text">@jsmith</span></div>
    <div mat-line class="twitter-text">ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its</div>
  </mat-list-item>
  <mat-list-item>
    <img mat-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
    <div mat-line class="twitter-title">Ann Smith <span class="twitter-text">@annS</span></div>
    <div mat-line class="twitter-text">ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its</div>
  </mat-list-item>
</mat-list>
