@use '@angular/material' as mat;
@import '@angular/material/theming';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  position: relative;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.property-text-center {
  text-align: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-right {
  text-align: right;
}

.mat-simple-snackbar-action {
  color: white !important;
}

.mat-list-item .mat-form-field-type-mat-select .mat-form-field-infix {
  padding-top: 0;
}

::ng-deep .mat-input-infix.mat-form-field-infix {
  width: 100%;
}

.mat-toolbar {
  z-index: 2;
}

.cdk-overlay-pane {
  overflow-y: auto;
}

mat-card {
  padding: 0;
  margin: 8px;
}

@mixin snackbar-bgc() {
  .bgc-red-600 {
    background-color: mat.get-color-from-palette(mat.$red-palette, 600);
  }
  .bgc-green-600 {
    background-color: mat.get-color-from-palette(mat.$green-palette, 600);
  }
}
