.property-text-center {
    text-align: center;
}

.property-text-right {
    text-align: right;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}