.property-text-center {
    text-align: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-right {
    text-align: right;
}

.mat-simple-snackbar-action {
    color: white !important;
}
