<h3 md-dialog-title>ORDER DETAILS - REFERENCE NUMBER {{data.bookingId}} </h3>
<md-divider></md-divider>
<td-data-table
  #dataTable
  [data]="datat"
  [columns]="columnst">
  <ng-template tdDataTableTemplate="bookingDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | date:'medium' }}</span>
    </div>
  </ng-template>
  <ng-template tdDataTableTemplate="creationDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | date:'medium' }}</span>
    </div>
  </ng-template>
</td-data-table>
<td-data-table
  #dataOrders
  [data]="filteredData"
  [columns]="columnso">
</td-data-table>
<div layout="row" class="justify-space-between pad-right pad-left">
  <h4>TOTAL</h4>
  <h4>{{totalPrice | number : '2.2-2'}}</h4>
</div>
<md-divider></md-divider>
<td-paging-bar #pagingBar [firstLast]="false" [pageSizes]="pageSizes" [total]="datao.length" (change)="page($event)">
  <span td-paging-bar-label hide-xs>Rows per page:</span>
  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
<div class="align-right" flex>
  <button md-button md-dialog-close color="accent" class="text-upper">Close</button>
</div>