<h3 mat-dialog-title>{{'userArea.passwordDialog.title' | transloco | uppercase}}</h3>
<form (ngSubmit)="passwordSubmit(passwordForm.form.value)" #passwordForm="ngForm">
  <div class="formFields">

    <mat-form-field color="accent">
      <input matInput type="password" name="oldPassword" [placeholder]="'userArea.passwordDialog.currentPassword' | transloco" ngModel required validateEqual="confirmPassword" reverse="true" #password="ngModel">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="password" name="newPassword" [placeholder]="'userArea.passwordDialog.newPassword' | transloco" ngModel required validateEqual="verifyPassword" reverse="true" #newPassword="ngModel">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="password" name="verifyPassword" [placeholder]="'userArea.passwordDialog.verifyPassword' | transloco" ngModel required validateEqual="newPassword" reverse="false" #verifyPassword="ngModel">
      <mat-error>{{'alerts.passwordError' | transloco}}</mat-error>
    </mat-form-field>
  </div>

  <div class="align-right">
    <button name="changePasswordCancel" mat-button mat-dialog-close>{{'buttons.cancel' | transloco | uppercase}}</button>
    <button class="changePasswordSubmit" name="changePasswordSubmit" mat-button type="submit" [disabled]="!passwordForm.form.valid" color="accent">{{'buttons.send' | transloco | uppercase}}</button>
  </div>
</form>