<mat-card class="details-card">
    <div class= "menu-image" [style.background-image]="'url(' + menuInfo.image.content + ')'">
      <button mat-fab *ngIf="auth.isLogged()" (click)="changeFavouriteState()" class="push-sm favourite-button">
        <mat-icon [class.fab-on]="!menuInfo.isfav" [class.fab-off]="menuInfo.isfav">star</mat-icon>
      </button>
      <span *ngIf="!auth.isLogged()"></span>
      <div class="reviews">
        <mat-list>
          <mat-list-item>
            <img mat-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
            <div mat-line class="twitter-title">John Smith <span class="twitter-text">@jsmith</span></div>
            <div mat-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its"}}</div>
          </mat-list-item>
          <mat-list-item>
            <img mat-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
            <div mat-line class="twitter-title">Ann Smith <span class="twitter-text">@annS</span></div>
            <div mat-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its"}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="pad">
      <span class="price">
        {{menuInfo.dish.price | number : '1.2-2'}} €
      </span>
      <h3 class="text-upper">
        {{menuInfo.dish.name}}
      </h3>
      <p class="description">
        {{menuInfo.dish.description}}
      </p>
      <div class="extras">
        <mat-checkbox  *ngFor="let extra of menuInfo.extras"
          [checked]="extra.selected"
          (change)="selectedOption(extra)"
        >
          {{extra.name}} +{{extra.price}}€
        </mat-checkbox>
      </div>
      <span flex></span>
      <div class="order">
        <button mat-button color="accent" (click)="addOrderMenu()" >
          {{'buttons.addToOrder' | translate}}
        </button>
      </div>
    </div>

</mat-card>
