<md-card>
  <div layout-gt-xs="row">
    <div flex-gt-xs="50" layout="column" class= "menu-image" [style.background-image]="'url(' + menuInfo.image + ')'">
      <button md-fab (click)="changeFavouriteState()" class="push-sm favourite-button">
        <md-icon [class.fab-on]="!menuInfo.isfav" [class.fab-off]="menuInfo.isfav">star</md-icon>
      </button>
      <span flex></span>
      <div style="background-color: rgba(0,0,0,0.3)" flex>
        <md-list>
          <md-list-item>
            <img md-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
            <p md-line class="twitter-title">John Smith <span class="twitter-text">@jsmith</span></p>
            <p md-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its " | truncate: 100}}</p>
          </md-list-item>
          <md-list-item>
            <img md-list-avatar src="https://help.github.com/assets/images/help/profile/identicon.png">
            <p md-line class="twitter-title">Ann Smith <span class="twitter-text">@annS</span></p>
            <p md-line class="twitter-text">{{"ipsum dolor sits it sit sem ipsum dolor sits its it  sem ipsum dolor sits itsit sem ipsum sem ipsum dolor sits itsit sem ipsumsem ipsum dolor sits itsit sem ipsum dolor s its " | truncate: 100}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>

    <div flex-gt-xs="50" layout="column" class= "pad">
      <div layout="row">
        <md-icon color="warn" class="md-18 push-right-sm">favorite</md-icon>
        <span>{{menuInfo.likes}}</span>
        <span flex></span>
        <span class="price">{{menuInfo.price | number : '1.2-2'}} €</span>
      </div>
      <h3 class="text-upper pull-top-xs">{{menuInfo.name}}</h3>
      <span class="push-bottom-sm">
        {{menuInfo.description}}
      </span>
      <div layout-gt-xs="column" layout-xs="row" class="justify-space-between">
        <md-checkbox class="push-bottom-sm" *ngFor="let extra of menuInfo.extras" (change)="selectedOption(extra)">{{extra.name}} +{{extra.price}}€</md-checkbox>
      </div>
      <div class="property-text-right">
        <button md-button (click)="addOrderMenu()" color="accent" class="text-upper property-text-bold">Add to order</button>
      </div>
    </div>
  </div>

</md-card>