@import "~variables.scss";

.favourite-button {
  align-self:flex-end;
  background-color: white;
}

.fab-on {
  color: lightgray;
}

.fab-off {
  color: sandybrown;
}

mat-list mat-list-item .twitter-title {
  font-size: 1.1em;
  color: white;
  white-space: normal;
}

mat-list mat-list-item .twitter-text {
  font-size: 0.8em;
  color: white;
}

.details-card {
  display: flex;
  flex-direction: column;
}

.menu-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews {
  background-color: rgba(0,0,0,0.3);
  height: 50%;
}

.pad {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.price {
  text-align: right;
  font-size: 2em;
  color: #514f4f;
}

.description {
  display: flex;
  margin-top: 0px;
}

.extras{
  display: flex;
  justify-content: space-between;

  > * {
    margin-bottom: 8px;
  }
}

.order {
  display: flex;
  justify-content: flex-end;
  button {
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-min-width) {
  .details-card {
    flex-direction: row;
  }

  .menu-image {
    min-height: 50vh;
    height: auto;
    max-width: 50%;
  }

  .extras{
    flex-direction: column;
    justify-content: space-around;
  }
}
