<form [formGroup]="form" (ngSubmit)="submit()" class="pad" #signForm="ngForm">
  <div layout= "column" class="push-bottom-sm" flex>

    <mat-form-field color="accent" flex>
      <input matInput [placeholder]="'formFields.email' | translate" formControlName="email" name="email" required validateEmail>
      <mat-error>{{'userArea.emailError' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput type="password" name="password" [placeholder]="'formFields.password' | translate" formControlName="password" required validateEqual="confirmPassword" reverse="true">
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput type="password" name="confirmPassword" [placeholder]="'formFields.confirmPassword' | translate" formControlName="password" required validateEqual="password" reverse="false">
      <mat-error>{{'alerts.passwordError' | translate}}</mat-error>
    </mat-form-field>
  </div>

  <mat-checkbox #termsd name="registerTerms">{{'formFields.terms' | translate}}</mat-checkbox>

  <div class="align-right" flex>
    <button name="cancelSignUp" mat-button mat-dialog-close class="text-upper">{{'buttons.cancel' | translate}}</button>
    <button name="registerSubmit" mat-button type="submit" [disabled]="!(signForm.form.valid && termsd.checked)" color="accent" class="text-upper">{{'buttons.register' | translate}}</button>
  </div>
</form>
