extends main.pug

block content
  div.mui--text-headline Hi, #{name}
  br
  div.mui--text-subhead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iste, amet consequatur a   veniam.
  br
  div.mui--text-body2
    b Booking date: 
    | #{date} 
  div.mui--text-body2
    b  Booking hour: 
    | #{hour}
  div.mui--text-body2
    b Assistants:
    | #{assistants} and you