extends main.pug

block content
  div.mui--text-headline Hi, #{name}
  br
  div.mui--text-subhead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iste, amet consequatur a   veniam.
  br
  div.mui--text-body2
    b Booking date: 
    | #{date} 
  div.mui--text-body2
    b  Booking hour: 
    | #{hour}
  div.mui--text-body2
    b Guests list:
    ul 
      each item in guest
        li= item      
    div.mui--text-center
      a(href="#", class="mui-btn mui-btn--danger") Cancel the booking