doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title #{title}
        style
            include mui-email-styletag.css
            include mui-email-inline.css
    body
      table(class="mui-body", cellpadding="0", cellspacing="0", border="0")
        tr
          td
            center
              div.mui-container
                table(cellpadding="0", cellspacing="0", border="0", width="100%")
                  tr
                    td.mui-panel(style="background-color: #3e2723")
                      div.mui--text-display1.mui--text-white My Thai Star
              div.mui-container
                table(cellpadding="0", cellspacing="0", border="0", width="100%")
                  tr
                    td.mui-panel  
                      block content