:host > div {
  display: flex;
  flex-direction: row;
  width: 100%;

  mat-form-field {
    flex: 1;
  }
  .button-sort {
    top: 15px;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}
