<div layout-gt-sm="row" layout-align="center" layout-padding tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-md="60" flex-md-sm="75">
    <md-card>
      <md-card-title>
        <md-icon color="accent">pan_tools</md-icon>
        Ups, something went wrong
      </md-card-title>
      <md-card-subtitle>Page not found</md-card-subtitle>
      <md-divider></md-divider>
      <md-card-content>
        <p>The page that you are trying to access <strong>does not exist</strong> or <strong>cannot be found</strong>. Please,
          go to the home page and navigate to other sections.</p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <a md-raised-button color="accent" class="text-upper" [routerLink]="['/restaurant']">
          Home
        </a>
      </md-card-actions>
    </md-card>
  </div>
</div>
