<td-layout>
  <form (ngSubmit)="applyFilters(filterForm.form.value)" #filterForm="ngForm" class="menu">
      <div class="search">
        <mat-form-field color="accent" class="searchBy">
          <button type="button" mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
          </button>
          <input matInput [placeholder]="'menu.filter.search' | translate" ngModel #searchBy name="searchBy">
          <button *ngIf="searchBy.value.length > 0" type="button" (click)="clearSearchField(searchBy)" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div class="sortingBy">
          <mat-form-field color="accent">
            <mat-select ngModel name="sortName" #sorting [placeholder]="'menu.filter.sort' | translate">
              <mat-option value="price">
                {{'menu.filter.price' | translate}}
              </mat-option>
              <mat-option value="likes">
                {{'menu.filter.likes' | translate}}
              </mat-option>
              <mat-option value="name">
                {{'menu.filter.name' | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="accent" (click)="changeSortDir()" [matTooltip]="sortDir" class="button-sort">
            <mat-icon>{{sortDirIcon}}</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <td-expansion-panel [label]="'menu.filterTitle' | translate">
        <div class ="menu-filters">

          <div class="filter-checkboxes">
            <mat-checkbox ngModel name="0">{{'menu.filter.mainDishes' | translate}}</mat-checkbox>
            <mat-checkbox ngModel name="1">{{'menu.filter.starters' | translate}}</mat-checkbox>
            <mat-checkbox ngModel name="2">{{'menu.filter.desserts' | translate}}</mat-checkbox>
            <span class="filter-divider"></span>
            <mat-checkbox ngModel name="3">{{'menu.filter.noodle' | translate}}</mat-checkbox>
            <mat-checkbox ngModel name="4">{{'menu.filter.rice' | translate}}</mat-checkbox>
            <mat-checkbox ngModel name="5">{{'menu.filter.curry' | translate}}</mat-checkbox>
            <span class="filter-divider"></span>
            <mat-checkbox ngModel name="6">{{'menu.filter.vegan' | translate}}</mat-checkbox>
            <mat-checkbox ngModel name="7">{{'menu.filter.vegetarian' | translate}}</mat-checkbox>
            <span class="filter-divider"></span>
            <mat-checkbox ngModel name="8">{{'menu.filter.favourites' | translate}}</mat-checkbox>
          </div>

          <div class="filter-sliders">
            <div class="slider">
              <span>{{'menu.filter.price' | translate}}</span>
              <mat-slider
                #price
                ngModel
                name="maxPrice"
                max="50"
                min="1"
                step="1"
                thumb-label="true"
                tick-interval="10">
              </mat-slider>
            </div>
            <div class="slider">
              <span>{{'menu.filter.likes' | translate}}</span>
              <mat-slider
                #likes
                ngModel
                name="minLikes"
                max=500
                min=0
                step=5
                thumb-label="true"
                tick-interval="25">
              </mat-slider>
            </div>
          </div>
        </div>
      </td-expansion-panel>
      <div class="filter-actions">
        <button mat-button (click)="clearFilters(filterForm.form, price, likes)">{{'buttons.clearFilters' | translate}}</button>
        <button mat-button type="submit" color="accent">{{'buttons.applyFilters' | translate}}</button>
      </div>
  </form>

  <div flex layout="row" *ngIf="(menus | async)?.result as allMenus; else loading" class="justify-space-around flex-wrap">
    <public-menu-card *ngFor="let menu of allMenus" [menu]="menu"></public-menu-card>
  </div>

  <ng-template #loading>
    <mat-progress-bar
      #loading
      color="accent"
      mode="indeterminate">
    </mat-progress-bar>
  </ng-template>

</td-layout>
