@import "~variables.scss";

public-menu-card {
  width: 100%
}

@media (min-width: $tablet-min-width){
  public-menu-card {
    width: 75%
  }
}

@media (min-width: $desktop-min-width){
  public-menu-card {
    width: 50%
  }
}


