.menu {
  background-color: white;

  .search {
    justify-content: space-between;
    padding: 10px 24px 0px 24px;
    display: flex;
    flex-direction: column;

    .searchBy {
      margin-bottom: -8px;
    }

    .sortingBy {
      display: flex;
      flex-direction: row;
      mat-form-field {
        flex: 1;
      }
      .button-sort {
        top: 15px;
      }
    }
  }
  @media (min-width: 600px) {
    .search {
      flex-direction: row;

      .sortingBy {
        width: 30%;
      }
      .searchBy {
        width: 30%;
      }
    }
  }

  .menu-filters {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;

    .filter-checkboxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .filter-divider {
        border-bottom: 1px solid lightgray;
        display: block;
      }

      mat-checkbox {
        margin: 8px 10px;
        display: block;
      }
    }

    .filter-sliders {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      .slider {
        display: flex;
        flex-direction: column;
        mat-slider {
          margin-top: -10px;
        }
      }
    }
  }
  .filter-actions {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 2px;
    button {
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1300px){
  public-menu-card {
    width: 50%
  }
}

@media (max-width: 1300px){
  public-menu-card {
    width: 75%
  }
}

@media (max-width: 600px) {
  public-menu-card {
    width: 100%
  }
}
