<td-layout>
  <form #filterForm="ngForm">
    <div style= "background-color: white">
      

      <td-expansion-panel label="FILTER ORDERS">
        <div layout-gt-xs="row" class="pad-left-md pad-right-md" style="align-items:center; border-bottom: 1px solid lightgrey" flex>
          <div layout="row" class="justify-space-around" style="align-items:center" flex>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Reservation date and time" ngModel name="dateTime">
            </md-input-container>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Email" ngModel name="email">
            </md-input-container>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Reference number" ngModel name="referenceNumber">
            </md-input-container>
          </div>
        </div>
        <div class="property-text-right">
          <button md-button (click)="clearFilters()" class="text-upper property-text-bold">Clear filters</button>
          <button md-button (click)="applyFilters(filterForm.form.value)" color="accent" class="text-upper property-text-bold">Apply filters</button>
        </div>
      </td-expansion-panel>
    </div>
  </form>

  ORDERS

</td-layout>
