<td-layout>
  <form #filterForm="ngForm">
    <div style= "background-color: white">
      
      <div layout-gt-xs="row" class="justify-space-between pad-left-md pad-right-md" style="align-items:center; border-bottom: 1px solid lightgrey" flex>
        <div layout="row" style="align-items:center" flex>
          <button md-icon-button><md-icon>search</md-icon></button>
          <md-input-container color="accent" class="searchBy">
            <input mdInput placeholder="Search our dishes" ngModel name="searchTerm">
          </md-input-container>
        </div>
        <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm forMobile" style= "width: 100%">
          <md-checkbox ngModel name="mainDishes">Main dishes</md-checkbox>
          <md-checkbox ngModel name="starter">Starter</md-checkbox>
          <md-checkbox ngModel name="dessert">Dessert</md-checkbox>
        </div>
        <div class="pad-sm sortingBy">
          <md-select style="width: 100%" ngModel name="sorting" #sorting placeholder="Sort By">
            <md-option value="price">
              Price
            </md-option>
            <md-option value="likes">
              Likes
            </md-option>
            <md-option value="favourites">
              Favourites
            </md-option>
          </md-select>
        </div>
      </div>

      <td-expansion-panel label="FILTERS">
        <div layout="column" class ="pad-left-md pad-top pad-right-md" style= "border-bottom: 1px solid lightgrey" flex>
          
          <div layout-gt-xs="column" class="justify-space-between flex-wrap forMobile" style="margin-bottom: 5px" flex>
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" style= "width: 100%; border-bottom: 1px solid lightgrey">
              <md-checkbox ngModel name="noodle">Noodle</md-checkbox>
              <md-checkbox ngModel name="rice">Rice</md-checkbox>
              <md-checkbox ngModel name="curry">Curry</md-checkbox>
            </div>    
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" style= "width: 100%; border-bottom: 1px solid lightgrey">
              <md-checkbox ngModel name="vegan">Vegan</md-checkbox>
              <md-checkbox ngModel name="vegetarian">Vegetarian</md-checkbox>
            </div>   
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" style= "width: 100%; border-bottom: 1px solid lightgrey">
              <md-checkbox ngModel name="favourites">Favourites</md-checkbox>
            </div>
          </div>

          <div layout-gt-xs="row" class="justify-space-between flex-wrap forDesktop" style="margin-bottom: 5px" flex>
            <md-checkbox ngModel name="mainDishes">Main dishes</md-checkbox>
            <md-checkbox ngModel name="starter">Starter</md-checkbox>
            <md-checkbox ngModel name="dessert">Dessert</md-checkbox>
            <span style="border-right: 1px solid lightgray"></span>
            <md-checkbox ngModel name="noodle">Noodle</md-checkbox>
            <md-checkbox ngModel name="rice">Rice</md-checkbox>
            <md-checkbox ngModel name="curry">Curry</md-checkbox>
            <span style="border-right: 1px solid lightgray"></span>        
            <md-checkbox ngModel name="vegan">Vegan</md-checkbox>
            <md-checkbox ngModel name="vegetarian">Vegetarian</md-checkbox>
            <span style="border-right: 1px solid lightgray"></span>        
            <md-checkbox ngModel name="favourites">Favourites</md-checkbox>
          </div>

          <div layout-gt-xs="row" class="push-top-sm" flex>
            <div flex-gt-xs="50" layout="column" flex>
              <span class ="pull-bottom-md">Price</span>
              <md-slider
                #price
                ngModel
                name="price"
                max="50"
                min="1"
                step="1"
                thumb-label="true"
                tick-interval="10">
              </md-slider>
            </div>
            <div flex-gt-xs="50" layout="column" flex>
              <span class ="pull-bottom-md">Likes</span>
              <md-slider
                #likes
                ngModel
                name="likes"
                max=500
                min=0
                step=5
                thumb-label="true"
                tick-interval="25">
              </md-slider>
            </div>
          </div>
        </div>
      </td-expansion-panel>
      <div class="property-text-right">
        <button md-button (click)="clearFilters()" class="text-upper property-text-bold">Clear filters</button>
        <button md-button (click)="applyFilters(filterForm.form.value)" color="accent" class="text-upper property-text-bold">Apply filters</button>
      </div>
    </div>
  </form>
  ORDERS
</td-layout>
