<h3 md-dialog-title>SET NEW PASSWORD</h3>
<form #passwordForm="ngForm">
  <div layout= "column" class="push-bottom-sm" flex>

    <md-input-container color="accent" flex>
      <input mdInput type="password" name="oldPassword" placeholder="Current password" ngModel required validateEqual="confirmPassword" reverse="true" #password="ngModel">
    </md-input-container>

    <md-input-container color="accent" flex>
      <input mdInput type="password" name="newPassword" placeholder="New password" ngModel required validateEqual="verifyPassword" reverse="true" #newPassword="ngModel">
    </md-input-container>

    <md-input-container color="accent" flex>
      <input mdInput type="password" name="verifyPassword" placeholder="Verify Password" ngModel required validateEqual="newPassword" reverse="false" #verifyPassword="ngModel">
      <md-error>Password mismatch</md-error>
    </md-input-container>
  </div>

  <div class="align-right" flex>
    <button md-button md-dialog-close class="text-upper">Cancel</button>
    <button md-button (click)="passwordSubmit(passwordForm.form.value)" [disabled]="!passwordForm.form.valid" color="accent" class="text-upper">Save</button>
  </div>
</form>