<td-layout-nav>

  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <a md-icon-button><md-icon>star_border</md-icon></a>    
    <span>My Thai Star</span>
    <span flex></span>
    <nav md-tab-nav-bar>
      <a md-tab-link
        routerLink="/restaurant"
        routerLinkActive #restaurant="routerLinkActive"
        [class.navBottomBorder]="restaurant.isActive">
        HOME
      </a>
      <a md-tab-link
        routerLink="/menu"
        routerLinkActive #menu="routerLinkActive"
        [class.navBottomBorder]="menu.isActive">
        MENU
      </a>
      <a md-tab-link
        routerLink="/bookTable"
        routerLinkActive #bookTable="routerLinkActive"
        [class.navBottomBorder]="bookTable.isActive">
        BOOK TABLE
      </a>
    </nav>
    <button md-icon-button mdTooltip="User"><md-icon>account_circle</md-icon></button>
    <button md-icon-button mdTooltip="Bookmark"><md-icon>format_list_bulleted</md-icon></button>
  </div>
  <router-outlet></router-outlet>
  <td-layout-footer color ="accent">
    <div layout="row" layout-align="center center" flex>
      <span>MY THAI STAR 2017</span>
      <span flex></span>
      <span>Devonfw</span>
    </div>
  </td-layout-footer>
</td-layout-nav>