<td-layout-nav>
  <!-- Remark: html duplication, I mark it only here, but you will find more examples in the code base -->
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <a md-icon-button class="forMobile" (click)="mobileSidenavOpened = !mobileSidenavOpened"><md-icon>dehaze</md-icon></a>
    <a md-icon-button><md-icon>star_border</md-icon></a>
    <span>My Thai Star</span>
    
    <span flex></span>
    <div *ngIf="!auth.isLogged" class="forDesktop">
      <nav md-tab-nav-bar>
        <a md-tab-link
          routerLink="/restaurant"
          routerLinkActive #restaurant="routerLinkActive"
          [class.navBottomBorder]="restaurant.isActive">
          HOME
        </a>
        <a md-tab-link
          routerLink="/menu"
          routerLinkActive #menu="routerLinkActive"
          [class.navBottomBorder]="menu.isActive">
          MENU
        </a>
        <a md-tab-link
          routerLink="/bookTable"
          routerLinkActive #bookTable="routerLinkActive"
          [class.navBottomBorder]="bookTable.isActive">
          BOOK TABLE
        </a>
      </nav>
    </div>
    <div *ngIf="auth.isLogged" class="forDesktop">
      <nav md-tab-nav-bar>
        <a md-tab-link
          routerLink="/orders"
          routerLinkActive #orders="routerLinkActive"
          [class.navBottomBorder]="orders.isActive">
          ORDERS
        </a>
        <a md-tab-link
          routerLink="/reservations"
          routerLinkActive #reservations="routerLinkActive"
          [class.navBottomBorder]="reservations.isActive">
          RESERVATIONS
        </a>
      </nav>
    </div>
    <button *ngIf="!auth.isLogged" md-icon-button (click)="openLoginDialog()" mdTooltip="User"><md-icon>person_outline</md-icon></button>
    <td-notification-count *ngIf="!auth.isLogged" color="accent" [notifications]="sidenav.getNumberOrders()">
      <button md-icon-button (click)="openCloseSideNav(sidenav.opened)" mdTooltip="Orders"><md-icon>shopping_basket</md-icon></button>
    </td-notification-count>
    <span *ngIf="auth.isLogged">Welcome {{auth.user}} <md-icon>person_outline</md-icon></span>
    <button *ngIf="auth.isLogged" md-icon-button (click)="logout()" mdTooltip="log out"><md-icon>exit_to_app</md-icon></button>
  </div>
  <td-layout-footer class="forDesktop">
    <div layout="row" layout-align="center center" flex>
      <span>MY THAI STAR 2017</span>
      <span flex></span>
      <span>Devonfw</span>
    </div>
  </td-layout-footer>
  <md-sidenav-container style= "height:100%">

    <md-sidenav class="sidenavMobile" (close)="openCloseSideNav(true)" [opened]="sidenav.opened" align="end">
      <public-sidenav></public-sidenav>
    </md-sidenav>

    <md-sidenav style="width:75%" (close)="mobileSidenavOpened=false" [opened]="mobileSidenavOpened" #mobilesidenav>
      <md-nav-list menu-items *ngIf="!auth.isLogged">
        <a md-list-item (click)="navigateTo('restaurant')">
          <md-icon>home</md-icon>
          HOME
        </a>
        <a md-list-item (click)="navigateTo('menu')">
          <md-icon>restaurant_menu</md-icon>
          MENU
        </a>
        <a md-list-item (click)="navigateTo('bookTable')">
          <md-icon>bookmark</md-icon>
          BOOK TABLE
        </a>
      </md-nav-list>
      <md-nav-list menu-items *ngIf="auth.isLogged">
        <a md-list-item (click)="navigateTo('restaurant')">
          <md-icon>home</md-icon>
          ORDERS
        </a>
        <a md-list-item (click)="navigateTo('menu')">
          <md-icon>restaurant_menu</md-icon>
          RESERVATIONS
        </a>
      </md-nav-list>
    </md-sidenav>

    <router-outlet></router-outlet>
  </md-sidenav-container>
</td-layout-nav>