:host {
  display: flex;
  overflow: hidden;
  height: 100vh;

  .containerOuter {
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;

    .containerInner {
      display: flex;
      margin: 0;
      width: 100%;
      min-height: 100%;
      height: 100%;
      flex-direction: column;
    }

    .sidenavContainerOuter {
      flex-direction: column;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1;
      flex: 1;
      position: relative;
      overflow: auto;
      .sidenavContainerInner {
        display: flex;
        margin: 0;
        width: 100%;
        min-height: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }

  .headerContainer {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  app-public-header {
    flex: 1;
    box-sizing: border-box;
  }

  .appFooter {
    font-size: medium;
    padding: 3px 16px;
    height: auto !important;
    justify-content: space-between;
  }

  mat-sidenav-container {
    flex: 1;
    position: relative;
    background-color: #e0e0e0;
  }

  mat-nav-list mat-icon {
    color: #737373;
    margin-right: 16px;
  }

  ::ng-deep router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  nav {
    border-bottom: none;
    margin-right: 20px;

    a {
      min-width: 100px !important;
    }
  }

  .navBottomBorder {
    border-bottom: 3px solid white;
  }

  mat-sidenav {
    width: 400px;
  }

  .mobileSidenav {
    width: 75%;
  }

  @media (max-width: 599px) {
    .forDesktop {
      display: none;
    }
    .sidenavMobile {
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .forMobile {
      display: none;
    }
  }
}
