# See http://help.github.com/ignore-files/ for more about ignoring files.

/logs
/target
/lib

*.log
*.class
*.classpath
*.project
*.iml
*.settings
.*!travis.yml
java/samples/server/target/

java/samples/server/eclipse-target/
**/src/generated/
**/tmp/

java/mtsj/logs/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
