<div data-name="orderDiv" class="orderDiv">
  <div class="orderContent">
    <mat-toolbar>
      <div class="sidenavTitle">
        <button class="forMobile" mat-icon-button (click)="closeSidenav()">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-icon class="forDesktop orderIcon">shopping_basket</mat-icon>
        <span class="sidenavTitleSpan">{{
          'sidenav.title' | transloco | uppercase
        }}</span>
      </div>
    </mat-toolbar>

    <div class="orderDetails">
      <h4 class="sidenavHeader">
        {{ 'sidenav.header' | transloco }}
      </h4>

      <div
        *ngIf="(orders$ | async)?.length < 1; else sidenavOrder"
        class="noOrders"
      >
        <span>{{ 'sidenav.noSelection' | transloco }}</span>

        <button
          name="viewMenu"
          mat-button
          color="accent"
          (click)="navigateTo('menu')"
        >
          {{ 'buttons.viewMenu' | transloco }}
        </button>
      </div>
      <ng-template #sidenavOrder>
        <div
          class="sidenavOrderContainer"
          [class.scrollOrders]="(orders$ | async)?.length > 3"
        >
          <app-public-sidenav-order
            *ngFor="let order of orders$ | async"
            [order]="order"
            (orderIncreased)="onOrderIncreased($event)"
            (orderDecreased)="onOrderDecreased($event)"
            (orderRemoved)="onOrderRemoved($event)"
            (commentAdded)="onCommentAdded($event)"
            (commentRemoved)="onCommentRemoved($event)"
          ></app-public-sidenav-order>
        </div>
      </ng-template>
      <div *ngIf="(orders$ | async)?.length > 0" class="orderTotal">
        <h3>{{ 'formFields.total' | transloco }}</h3>
        <h3>{{ totalPrice$ | async | number: '1.2-2' }} €</h3>
      </div>
      <div class="orderTable">
        <div>
          <mat-card *ngIf="!bookingId.value">
            <div class="orderTableNotice">
              <mat-icon>report_problem</mat-icon>

              <span class="invitationAlert"
                >{{ 'alerts.orderID' | transloco }}
              </span>

              <button
                name="bookTable"
                mat-button
                color="accent"
                (click)="navigateTo('bookTable')"
              >
                {{ 'buttons.bookTable' | transloco }}
              </button>
            </div>
          </mat-card>
        </div>

        <div>
          <mat-form-field class="orderBookingID" color="accent">
            <input
              name="orderBookingID"
              matInput
              #bookingId
              [placeholder]="'sidenav.bookingId' | transloco"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-checkbox
            class="orderTermsCheckbox"
            data-name="orderTerms"
            #terms
            >{{ 'formFields.terms' | transloco }}</mat-checkbox
          >
        </div>
      </div>
    </div>
  </div>
  <div class="align-right">
    <button
      class="orderCancel"
      name="orderCancel"
      mat-button
      (click)="closeSidenav()"
    >
      {{ 'buttons.cancel' | transloco | uppercase }}
    </button>
    <button
      class="orderSubmit"
      name="orderSubmit"
      mat-button
      color="accent"
      (click)="sendOrders(bookingId.value)"
      [disabled]="!(bookingId?.value?.length > 0 && terms.checked)"
    >
      {{ 'buttons.send' | transloco | uppercase }}
    </button>
  </div>
</div>
