<div layout="row" class="pad-top-sm pad-right-sm" style="border-bottom: 1px solid lightgrey" flex>
  
  <button md-icon-button (click)="removeOrder()" class="push-bottom-xs"><md-icon>clear</md-icon></button>
  
  <div layout="column" class="pull-top-xs" flex>
    <span class="orderName">{{order.orderName}}</span>
    <div layout="row">
      <span class="orderIngredients" *ngIf="ingredients.length < 1"> - </span>
      <span class="orderIngredients" *ngFor="let ingredient of ingredients; let i = index">
        {{ingredient.name}}
        <label *ngIf="i < ingredients.length -1 && ingredients.length > 1">, </label>
      </span>
    </div>
    <label (click)="removeComment()" class="removeOrderComment" *ngIf="order.comment">Remove comment</label>
    <label (click)="addComment()" class="addOrderComment" *ngIf="!order.comment">Add comment</label>
  </div>

  <button md-icon-button (click)="openCommentDialog()" [class.hideButton]="!order.comment" class="push-bottom-xs" [mdTooltip]="order.comment" mdTooltipPosition="above">
    <md-icon color="accent">remove_red_eye</md-icon>
  </button>

  <div layout="row" class="push-bottom-xs" flex>
    <button md-icon-button [disabled]="order.number == 1" color="accent" (click)="decreaseOrder()"><md-icon>remove</md-icon></button>  
    <span class="push-top-sm">{{order.number}}</span>               
    <button md-icon-button (click)="increaseOrder()" color="accent"><md-icon>add</md-icon></button>                  
  </div>

  <span class="push-top-sm">{{calculateOrderPrice() | number : '2.2-2'}} €</span>
</div>