<div class="orderContainer">
  
  <button mat-icon-button (click)="removeOrder()" class="removeOrderBtn"><mat-icon>clear</mat-icon></button>
  
  <div class="orderNameContainer">
    <span class="orderName">{{order.dish.name}}</span>
    <div>
      <span class="orderIngredients" *ngIf="extras.length === 0"> - </span>
      <span class="orderIngredients">{{extras}}</span>
    </div>
    <label (click)="removeComment()" class="removeOrderComment" *ngIf="order.orderLine.comment">{{'buttons.removeComment' | translate}}</label>
    <label (click)="addComment()" class="addOrderComment" *ngIf="!order.orderLine.comment">{{'buttons.addComment' | translate}}</label>
  </div>

  <button mat-icon-button [matTooltip]="'formFields.comment' | translate" (click)="openCommentDialog()" [class.hideButton]="!order.orderLine.comment" matTooltipPosition="above">
    <mat-icon color="accent">speaker_notes</mat-icon>
  </button>

  <div lass="orderAmountContainer">
    <button mat-icon-button [disabled]="order.orderLine.amount == 1" color="accent" (click)="decreaseOrder()"><mat-icon>remove</mat-icon></button>  
    <span class="orderAmount">{{order.orderLine.amount}}</span>               
    <button mat-icon-button (click)="increaseOrder()" color="accent"><mat-icon>add</mat-icon></button>                  
  </div>

  <span class="orderPrice">{{calculateOrderPrice() | number : '2.2-2'}} €</span>
</div>