<span md-dialog-title class="text-upper">Book table</span>
<md-dialog-content>
  <div layout="column" class="push-bottom-sm" flex>
    <div layout="row" class="justify-space-between">
      <span>Date</span>
      <span>{{date}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm"><md-divider></md-divider></span>
    <div layout="row" class="justify-space-between">
      <span>Name</span>
      <span>{{data.name}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm"><md-divider></md-divider></span>
    <div layout="row" class="justify-space-between">
      <span>Email</span>
      <span>{{data.email}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm"><md-divider></md-divider></span>
    <div layout="row" class="justify-space-between">
      <span>Friends</span>
      <div layout="column" style="text-align:right; width:50%">
        <span *ngFor="let inv of data.invitedGuests">{{inv}}</span>
      </div>
    </div>
    <span class="push-bottom-sm push-top-sm"><md-divider></md-divider></span>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <div class="align-right" flex>
    <button md-button md-dialog-close class="text-upper">Cancel</button>
    <button md-button (click)="sendInvitation()" color="accent" class="text-upper">Send</button>
  </div>
</md-dialog-actions>