<span md-dialog-title class="text-upper">Book table</span>
<md-dialog-content>
  <div layout="column" class="push-bottom-sm" flex>
    <div layout="row" class="justify-space-between">
      <span>Date</span>
      <span>{{data.dateTime}}</span>
    </div>

    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between">
      <span>Name</span>
      <span>{{data.nameOwner}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between">
      <span>Email</span>
      <span>{{data.emailOwner}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between">
      <span>Friends</span>
      <div layout="column" style="text-align:right; width:50%">
        <span *ngFor="let inv of data.friends">{{inv}}</span>
      </div>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between">
      <span>Booking number</span>
      <span>{{data.bookingId}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <div style="width:100%; text-align:right">
    <button md-button md-dialog-close class="text-upper">Cancel</button>
    <button md-button (click)="sendInvitation()" color="accent" class="text-upper">Send</button>
  </div>
</md-dialog-actions>