<div layout-gt-sm="row" layout-align="center" layout-padding tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-md="60" flex-mat-sm="75">
    <mat-card>
      <mat-card-title>
        <mat-icon color="accent">pan_tools</mat-icon>
        Wait until login has completed
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>You will be redirected as soon as the login process finished...</p>
      </mat-card-content>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
  
