<div class="userstate-view">
    <h1 class= "title">MY THAI STAR</h1>
    <span class= "subtitle">{{'home.subtitle' | transloco}}</span>
</div>

<mat-horizontal-stepper [selectedIndex]="currentState" #stepper>
    <mat-step>
        <ng-template matStepLabel >Ordered</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Preparation</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Delivery</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Delivered</ng-template>
      </mat-step>
  </mat-horizontal-stepper>

  <mat-card  class="center">
    <mat-card-content >
      <div class="tile-content">
          <div class="star"></div>
        <h1 class=".md-display-4">{{"orderStateView.thankYou" | transloco}}</h1>
        <p class=".md-display-4"> {{"orderStateView.orderPending" | transloco}} </p>
      </div>
    </mat-card-content>
  </mat-card>
  