<mat-card>
  <img mat-card-image alt="{{tile.caption | transloco}}" src="{{tile.img}}">
  <mat-card-content>
    <div class="tile-content">
      <h3>{{tile.titleKey | transloco}}</h3>
      <p> {{tile.contentKey | transloco}} </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="tile-action">
    <button class="action" name="{{tile.buttonLabelKey}}Navigate" mat-raised-button color="accent" (click)="onButtonClick($event)">
      {{tile.buttonLabelKey | transloco}}
    </button>
  </mat-card-actions>
</mat-card>
