<td-layout>
  <form #filterForm="ngForm">
    <div style= "background-color: white">
      <td-expansion-panel label="FILTER">
        <div layout-gt-xs="row" class="pad-left-md pad-right-md" style="align-items:center; border-bottom: 1px solid lightgrey" flex>
          <div layout="row" class="justify-space-around" style="align-items:center" flex>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Reservation date and time" ngModel name="date">
            </md-input-container>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Email" ngModel name="email">
            </md-input-container>
            <md-input-container color="accent" class="searchBy">
              <input mdInput placeholder="Reference number" ngModel name="bookingId">
            </md-input-container>
          </div>
        </div>
        <div class="align-right">
          <button md-button (click)="clearFilters(filterForm)" class="text-upper property-text-bold">Clear filters</button>
          <button md-button (click)="applyFilters(filterForm.form.value)" color="accent" class="text-upper property-text-bold">Apply filters</button>
        </div>
      </td-expansion-panel>
    </div>
  </form>
  <md-card>
    <md-card-title>RESERVATIONS</md-card-title>
    <md-divider></md-divider>
    <td-data-table
      #dataTable
      [data]="filteredData"
      [columns]="columns"
      [sortable]="true"
      clickable="true"
      [sortOrder]="sortOrder"
      (rowClick)="selected($event)"
      [sortOrder]="sortOrder"
      (sortChange)="sort($event)">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <!--Remark: potentially configurable things such as page sizes should probably reside in TS file -->
    <td-paging-bar #pagingBar [pageSizes]="[8, 16, 24]" [total]="filteredTotal" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Rows per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </md-card>
</td-layout>