<span mat-dialog-title>{{'bookTable.dialog.title' | transloco }}</span>
<mat-dialog-content>
  <div>
    <div class="dataRow">
      <span>{{'formFields.date' | transloco}}</span>
      <span>{{date}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="dataRow">
      <span>{{'formFields.name' | transloco}}</span>
      <span class="nameValue">{{data.name}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="dataRow">
      <span>{{'formFields.email' | transloco}}</span>
      <span class="emailValue">{{data.email}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="dataRow">
      <span>{{'formFields.friends' | transloco}}</span>
      <div class="invitedGuests">
        <span *ngFor="let inv of data.invitedGuests">{{inv}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="align-right">
    <button name="inviteFriendsCancel" mat-button mat-dialog-close>{{'buttons.cancel' | transloco}}</button>
    <button name="inviteFriendsConfirm" mat-button (click)="sendInvitation()" color="accent">{{'buttons.send' | transloco}}</button>
  </div>
</mat-dialog-actions>