<form (ngSubmit)="verifySubmit(verifyForm.form.value)" class="pad" #verifyForm="ngForm">
  <div layout="column" flex>
    <mat-form-field>
      <input matInput style="text-align: center" [placeholder]="'formFields.token' | translate" ngModel name="token"
             maxlength="6" required>
    </mat-form-field>
  </div>
  <div style="text-align: center">
    <button name="cancelVerify" mat-button mat-dialog-close class="text-upper">{{'buttons.cancel' | translate}}</button>
    <button name="submitVerify" mat-button type="submit" [disabled]="!verifyForm.form.valid" color="accent"
            class="text-upper">{{'buttons.apply' | translate}}</button>
  </div>
</form>
