.background-layout {
  height: 100%;
  background-color: white;
}

.bottom-border {
  border-bottom: 1px solid lightgray;
}

.subtitle-card {
  color: lightslategrey;
}

.title-card {
  font-size: 1.17em;
}

.menu-image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('http://narathai.com.sg/img/media/carousel/AIP_Food_Nara-Thai-Cuisine_2015-06-03_Full-Res_012_web%20slider.jpg');
}

.invite-image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://placekitten.com/g/600/400');
}