.background-layout {
  height: 100%;
  background-color: white;
}

.sidenav-info-text {
  color: lightslategrey
}

.sidenav-info {
  font-size: 0.8em;
  justify-content: space-between
}

.bottom-border {
  border-bottom: 1px solid lightgray;
}

.subtitle-card {
  color: lightslategrey;
}

.title-card {
  font-size: 1.17em;
}