<td-layout>
  <div class="property-text-center" flex>
    <h3>You can invite your friend to lunch or book a table</h3>
  </div>
  <md-card class="push-lg">
    <md-tab-group md-stretch-tabs>
      <md-tab label="Book a table">
        <div layout="row" flex>

          <div layout="column" class= "menu-image" flex>
          </div>

          <form class="pad" style ="width: 50%">
            <div layout="column" flex>
              <span class="title-card property-text-bold">BOOK YOUR TABLE</span>
              <span class ="subtitle-card push-bottom">You can book a table and an order menu</span>
            </div>
            <div layout= "column" flex>
              <md-input-container dividerColor="accent" flex>
                <input mdInput placeholder="Date and time" type="datetime-local">
              </md-input-container>

              <md-input-container dividerColor="accent" flex>
                <input mdInput placeholder="Name">
              </md-input-container>

              <md-input-container dividerColor="accent" flex>
                <input mdInput placeholder="Email">
              </md-input-container>

              <md-input-container dividerColor="accent" flex>
                <input mdInput placeholder="Adults" type="number">
              </md-input-container>

              <md-input-container dividerColor="accent" flex>
                <input mdInput placeholder="Kids" type="number">
              </md-input-container>
            </div>
            <div style="text-align: right">
              <button md-button (click)="openSidenav()" color="accent" class="text-upper">Book table</button>
            </div>
          </form>
        </div>
      </md-tab>

      <md-tab label="Invite friends">
        <div layout="row" flex>

          <div layout="column" class= "invite-image" flex>
          </div>
          <div class="pad" style="width:50%">
            <form>
              <div layout="column" class="push-bottom" flex>
                <span class="title-card property-text-bold">ADD YOUR INFORMATION AND FRIENDS</span>
              </div>
              <div layout= "column" flex>
                <md-input-container dividerColor="accent" flex>
                  <input mdInput placeholder="Date and time" type="datetime-local">
                </md-input-container>

                <md-input-container dividerColor="accent" flex>
                  <input mdInput placeholder="Name">
                </md-input-container>

                <md-input-container dividerColor="accent" flex>
                  <input mdInput placeholder="Email">
                </md-input-container>
              </div>
            </form>
            <h4>Friends</h4>
            <md-chip-list>
              <md-chip style="margin-bottom: 5px">
                  genericemail.1231@gmail.com
                  <button md-icon-button class="pull-bottom-xs pull-top-xs pull-right-xs md-18"><md-icon>cancel</md-icon></button>
              </md-chip>
              <md-chip style="margin-bottom: 5px">
                  genericemail.1231@gmail.com
                  <button md-icon-button class="pull-bottom-xs pull-top-xs pull-right-xs md-18"><md-icon>cancel</md-icon></button>
              </md-chip>
              <md-chip style="margin-bottom: 5px">
                  genericemail.1231@gmail.com
                  <button md-icon-button class="pull-bottom-xs pull-top-xs pull-right-xs md-18"><md-icon>cancel</md-icon></button>
              </md-chip>
              <md-chip style="margin-bottom: 5px">
                  genericemail.1231@gmail.com
                  <button md-icon-button class="pull-bottom-xs pull-top-xs pull-right-xs md-18"><md-icon>cancel</md-icon></button>
              </md-chip>
            </md-chip-list>
            <div style="text-align: right">
              <button md-button (click)="openSidenav()" color="accent" class="text-upper">Invite friends</button>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card>
</td-layout>