.background-layout {
  height: 100%;
  background-color: white;
}

.sidenav {
  padding: 20px;
}

.property-text-center {
  text-align: center;
}

.sidenav-info-text {
  color: lightslategrey
}

.sidenav-info {
  margin-bottom: 20px;
  justify-content: space-between
}

.margin-checkbox {
  margin-left: 15px;
}

.bottom-border {
  border-bottom: 1px solid grey;
}

.sidenav-button {
  justify-content: space-between;
}