<mat-card class="details-card">
  <div class= "menu-image" [style.background-image]="'url(' + menuInfo.image.content + ')'">
    <button mat-fab
        *ngIf="auth.isLogged()"
        (click)="changeFavouriteState()"
        class="favourite-button"
    >
      <mat-icon [class.fab-on]="!menuInfo.isfav" [class.fab-off]="menuInfo.isfav">
        star
      </mat-icon>
    </button>
    <span *ngIf="!auth.isLogged()"></span>
    <own-menu-card-comments class="reviews"></own-menu-card-comments>
  </div>

  <own-menu-card-details class="pad" [menuInfo]="menuInfo" (clickOrder)="addOrderMenu()" ></own-menu-card-details>
</mat-card>
