.title-color {
  color: white;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 1em;
}

.card-over {
  margin-left: 5%;
  margin-top: -75px;
  width: 90%;
}

.home-title {
  padding-bottom: 25%;
  padding-top: 5%;
  background-color: saddlebrown;
}