<td-layout>
  <div class="home-header">
      <h1 class= "title">MY THAI STAR</h1>
      <span class= "pull-top subtitle">{{'home.subtitle' | translate}}</span>
  </div>
  <mat-card id="homeCard" class="home-card">
    <div class="clear-fix tiles">
      <mat-card *ngFor="let tile of getTiles()">
        <img mat-card-image src="{{tile.img}}">
        <mat-card-content>
          <div class="tile-content">
            <h3>{{tile.title | translate}}</h3>
            <p> {{tile.content | translate}} </p>
          </div>
        </mat-card-content>
        <mat-card-actions class="tile-action">
          <button mat-raised-button color="accent" (click)="tile.navigate()">{{tile.button | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</td-layout>
