<div class="header-container">
  <a mat-icon-button class="forMobile" (click)="openCloseNavigationSideNav()">
    <mat-icon>dehaze</mat-icon>
  </a>
  <a mat-icon-button>
    <mat-icon>star_border</mat-icon>
  </a>
  <span>My Thai Star</span>

  <span flex></span>
  <div *ngIf="auth.isPermited('CUSTOMER')" class="forDesktop">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/restaurant" routerLinkActive #restaurant="routerLinkActive" [class.navBottomBorder]="restaurant.isActive">
        {{'main.home' | translate | uppercase}}
      </a>
      <a mat-tab-link routerLink="/menu" routerLinkActive #menu="routerLinkActive" [class.navBottomBorder]="menu.isActive">
        {{'main.menu' | translate | uppercase}}
      </a>
      <a mat-tab-link routerLink="/bookTable" routerLinkActive #bookTable="routerLinkActive" [class.navBottomBorder]="bookTable.isActive">
        {{'main.book' | translate | uppercase}}
      </a>
    </nav>
  </div>
  <div *ngIf="auth.isPermited('WAITER')" class="forDesktop">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/orders" routerLinkActive #orders="routerLinkActive" [class.navBottomBorder]="orders.isActive">
        {{'main.orders' | translate | uppercase}}
      </a>
      <a mat-tab-link routerLink="/reservations" routerLinkActive #reservations="routerLinkActive" [class.navBottomBorder]="reservations.isActive">
        {{'main.reservations' | translate | uppercase}}
      </a>
    </nav>
  </div>
  <div *ngIf="auth.isPermited('MANAGER')" class="forDesktop">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/prediction" routerLinkActive #prediction="routerLinkActive" [class.navBottomBorder]="prediction.isActive">
        PREDICTION
      </a>
    </nav>
  </div>
  <div *ngIf="auth.isPermited('MANAGER')" class="forDesktop">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/clustering" routerLinkActive #clustering="routerLinkActive" [class.navBottomBorder]="clustering.isActive">
        CLUSTERING
      </a>
    </nav>
  </div>
  <button name="login" *ngIf="!auth.isLogged()" mat-icon-button (click)="openLoginDialog()" [matTooltip]="'main.userActions.user' | translate">
    <mat-icon>person_outline</mat-icon>
  </button>
  <div *ngIf="auth.isLogged()" class="logged-in">
    <button name="account" mat-icon-button [matMenuTriggerFor]="toolbarMenu1">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span data-name="userNameLogged" class="forDesktop">{{auth.user}}</span>
    <button class="forDesktop" *ngIf="!auth.isLogged()" mat-icon-button (click)="logout()" [matTooltip]="'main.userActions.logout' | translate">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <mat-menu #toolbarMenu1="matMenu">
      <button name="changePassword" mat-menu-item type="button" (click)="openResetDialog()" *ngIf="auth.isPermited('CUSTOMER')">
        <mat-icon>settings</mat-icon>
        <span>{{'main.userActions.changePassword' | translate}}</span>
      </button>
      <button name="setting" *ngIf="auth.isLogged()" mat-menu-item type="button" (click)="getQRCode()">
        <mat-icon>important_devices</mat-icon>
        <span>{{'main.userActions.pairing' | translate}}</span>
      </button>
      <button name="twitterAccount" mat-menu-item type="button" (click)="openTwitterDialog()" *ngIf="auth.isPermited('CUSTOMER')">
        <mat-icon>send</mat-icon>
        <span>{{'main.userActions.twitterAccount' | translate}}</span>
      </button>
      <mat-divider></mat-divider>
      <button name="logout" mat-menu-item type="button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'main.userActions.signOut' | translate}}</span>
      </button>
    </mat-menu>
  </div>
  <button name="order" mat-icon-button (click)="openCloseSideNav(sidenav.opened)" [matTooltip]="'main.userActions.orders' | translate">
    <mat-icon *ngIf="auth.isPermited('CUSTOMER')" [matBadge]="sidenav.getNumberOrders()" matBadgeColor="accent" [matBadgeHidden]="sidenav.getNumberOrders() < 1">shopping_basket</mat-icon>
  </button>
  <button name="language" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ translate.currentLang | uppercase }}" matTooltipHideDelay="1000">
    <span class="flag-icon flag-icon-{{ flag }}"></span>
  </button>
  <mat-menu #menu="matMenu">
    <button name="lang.value" *ngFor="let lang of selectableLangs" [disabled]="translate.currentLang === lang.value" (click)="changeLanguage(lang.value)"
      mat-menu-item>
      <span>{{lang.label}}</span>
    </button>
  </mat-menu>
</div>
