<div layout="row" layout-align="center center" flex>
  <a md-icon-button class="forMobile" (click)="openCloseSideNavMobile()"><md-icon>dehaze</md-icon></a>
  <a md-icon-button><md-icon>star_border</md-icon></a>
  <span>My Thai Star</span>
  
  <span flex></span>
  <div *ngIf="!auth.hasPermission" class="forDesktop">
    <nav md-tab-nav-bar>
      <a md-tab-link
        routerLink="/restaurant"
        routerLinkActive #restaurant="routerLinkActive"
        [class.navBottomBorder]="restaurant.isActive">
        HOME
      </a>
      <a md-tab-link
        routerLink="/menu"
        routerLinkActive #menu="routerLinkActive"
        [class.navBottomBorder]="menu.isActive">
        MENU
      </a>
      <a md-tab-link
        routerLink="/bookTable"
        routerLinkActive #bookTable="routerLinkActive"
        [class.navBottomBorder]="bookTable.isActive">
        BOOK TABLE
      </a>
    </nav>
  </div>
  <div *ngIf="auth.hasPermission" class="forDesktop">
    <nav md-tab-nav-bar>
      <a md-tab-link
        routerLink="/orders"
        routerLinkActive #orders="routerLinkActive"
        [class.navBottomBorder]="orders.isActive">
        ORDERS
      </a>
      <a md-tab-link
        routerLink="/reservations"
        routerLinkActive #reservations="routerLinkActive"
        [class.navBottomBorder]="reservations.isActive">
        RESERVATIONS
      </a>
    </nav>
  </div>
  <button *ngIf="!auth.isLogged" md-icon-button (click)="openLoginDialog()" mdTooltip="User"><md-icon>person_outline</md-icon></button>
  <div *ngIf="auth.isLogged" layout="row" style="align-items:center">
    <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>account_circle</md-icon></button>
    <span class="forDesktop">Welcome {{auth.user}}</span>
    <button class="forDesktop" *ngIf="!auth.isLogged" md-icon-button (click)="logout()" mdTooltip="log out"><md-icon>exit_to_app</md-icon></button>
    <md-menu #toolbarMenu1="mdMenu">
      <button md-menu-item (click)="openResetDialog()" *ngIf="!auth.hasPermission">
        <md-icon>settings</md-icon>
        <span>Change password</span>
      </button>
      <button md-menu-item (click)="openTwitterDialog()" *ngIf="!auth.hasPermission">
        <md-icon>send</md-icon>
        <span>Twitter account</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Sign out</span>
      </button>
    </md-menu>
  </div>
  <td-notification-count *ngIf="!auth.hasPermission" color="accent" [notifications]="sidenav.getNumberOrders()">
    <button md-icon-button (click)="openCloseSideNav(sidenav.opened)" mdTooltip="Orders"><md-icon>shopping_basket</md-icon></button>
  </td-notification-count>
</div>