<h1>
    {{ 'aboutYou.title' | transloco | uppercase }}
</h1>
<div>
    <div>
        <h4>{{ 'aboutYou.opening' | transloco | uppercase }}</h4>

            <span class="item"> {{ 'aboutYou.tuesday' | transloco }} 11:00-23:30 </span>
            <span class="item"> {{ 'aboutYou.wednesday' | transloco }} 11:00-23:30 </span>
            <span class="item"> {{ 'aboutYou.thursday' | transloco }} 11:00-23:30 </span>
            <span class="item"> {{ 'aboutYou.friday' | transloco }} 11:00-23:30 </span>
            <span class="item"> {{ 'aboutYou.saturday' | transloco }} 13:00-22:00</span>
            <span class="item"> {{ 'aboutYou.sunday' | transloco }} 13:00-22:00</span>
            <br>
            <span class="item"> {{ 'aboutYou.monday' | transloco }} {{ 'aboutYou.restday' | transloco }} </span>

    </div>
    <div>
        <h4>{{ 'aboutYou.location' | transloco | uppercase }}</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1296.3996628655568!2d8.482271!3d49.4694063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797ceae4ffa0955%3A0xcdae726c3436e73!2sHochschule%20Mannheim!5e0!3m2!1sde!2sde!4v1622844197614!5m2!1sde!2sde" 
            width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    {{ 'aboutYou.footer' | transloco }}
    
</div>