iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-list .mat-list-item {
    height: 20px; /* default is 72px */
    //TODO  text-align: center;
}

*{
    text-align: center;
}