<h1 class="center" mat-dialog-title>
    {{ 'main.aboutYou.title' | transloco | uppercase }}
</h1>
<div mat-dialog-content>
    <div class="center">
        {{ 'main.aboutYou.opening' | transloco | uppercase }}
        <mat-list>
            <mat-list-item> {{ 'main.aboutYou.monday' | transloco | uppercase }} 11:00-23:30 </mat-list-item>
            <mat-list-item> {{ 'main.aboutYou.tuesday' | transloco | uppercase }} 11:00-23:30 </mat-list-item>
            <mat-list-item> {{ 'main.aboutYou.wednesday' | transloco | uppercase }} 11:00-23:30 </mat-list-item>
            <mat-list-item> {{ 'main.aboutYou.thursday' | transloco | uppercase }} 11:00-23:30 </mat-list-item>
            <mat-list-item> {{ 'main.aboutYou.friday' | transloco | uppercase }} 11:00-23:30 </mat-list-item>
            <mat-list-item> {{ 'main.aboutYou.saturday' | transloco | uppercase }} 13:00-22:00</mat-list-item>
           </mat-list>
    </div>
    <br/>
    <div>
        {{ 'main.aboutYou.location' | transloco | uppercase }}
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1296.3996628655568!2d8.482271!3d49.4694063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797ceae4ffa0955%3A0xcdae726c3436e73!2sHochschule%20Mannheim!5e0!3m2!1sde!2sde!4v1622844197614!5m2!1sde!2sde" 
            width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    This is just a tamplate AboutYou page due to the fact, that My-Thai-Star does not exist.
</div>