<h3 md-dialog-title>RESERVATION DETAILS - REFERENCE NUMBER {{data.bookingId}} </h3>
<md-divider></md-divider>
<td-data-table
  #dataTable
  [data]="datat"
  [columns]="columnst">
</td-data-table>
<td-data-table
  *ngIf="filteredData.length > 0"
  #dataOrders
  [data]="filteredData"
  [columns]="columnso">
  <ng-template tdDataTableTemplate="accepted" let-value="value" let-row="row" let-column="column">
    <md-icon color="accent" *ngIf="value">check</md-icon>
    <md-icon color="warn" *ngIf="!value">clear</md-icon>
  </ng-template>
</td-data-table>
<td-paging-bar *ngIf="filteredData.length > 0" #pagingBar [firstLast]="false" [pageSizes]="[5, 10, 15]" [total]="datao.length" (change)="page($event)">
  <span td-paging-bar-label hide-xs>Rows per page:</span>
  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
<div class="align-right" flex>
  <button md-button md-dialog-close color="accent" class="text-upper">Close</button>
</div>