<td-layout>
  <div class="property-text-center pad-top-sm pad-right-sm pad-left-sm" flex>
    <h3>{{'bookTable.title' | translate}}</h3>
  </div>
  <mat-card class="push-lg">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab [label]="'bookTable.bookingTab' | translate" class="bookTableTab">
        <div layout-gt-xs="row" flex>

          <div flex-gt-xs="50" class="menu-image forDesktop">
          </div>

          <img mat-card-image src='./assets/images/slider-1.jpg' class="forMobile">

          <div flex-gt-xs="50">
           <book-table-form (submitted)="onBookTableSubmit($event)" [booking]="booking$ | async"></book-table-form>
          </div>
        </div>
      </mat-tab>

      <mat-tab [label]="'bookTable.reservationTab' | translate" class="inviteFriendsTab">
        <div layout-gt-xs="row" flex>

          <div flex-gt-xs="50" class="invite-image forDesktop">
          </div>

          <img mat-card-image src='./assets/images/slider-2.jpg' class="forMobile">

          <div flex-gt-xs="50">
            <invite-friends-form (submitted)="onInviteFriendsSubmit($event)" [booking]="booking$ | async"></invite-friends-form>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</td-layout>
