<div class="orderContainer">
  <button mat-icon-button (click)="removeOrder()" class="removeOrderBtn">
    <mat-icon>clear</mat-icon>
  </button>

  <div class="orderNameContainer">
    <span class="orderName">{{ order.details.dish.name }}</span>
    <div>
      <span class="orderIngredients" *ngIf="extras.length === 0"> - </span>
      <span class="orderIngredients">{{ extras }}</span>
    </div>
    <label
      (click)="removeComment()"
      class="removeOrderComment"
      *ngIf="order.details.orderLine.comment"
      >{{ 'buttons.removeComment' | transloco }}</label
    >
    <label
      (click)="addComment()"
      class="addOrderComment"
      *ngIf="!order.details.orderLine.comment"
      >{{ 'buttons.addComment' | transloco }}</label
    >
  </div>

  <button
    mat-icon-button
    [matTooltip]="'formFields.comment' | transloco"
    (click)="openCommentDialog()"
    [class.hideButton]="!order.details.orderLine.comment"
    matTooltipPosition="above"
  >
    <mat-icon color="accent">speaker_notes</mat-icon>
  </button>

  <div class="orderAmountContainer">
    <button
      mat-icon-button
      [disabled]="order.details.orderLine.amount == 1"
      color="accent"
      (click)="decreaseOrder()"
      class="decreaseOrder"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <span class="orderAmount">{{ order.details.orderLine.amount }}</span>
    <button
      mat-icon-button
      (click)="increaseOrder()"
      color="accent"
      class="increaseOrder"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <span class="orderPrice"
    >{{ calculateOrderPrice() | number: '2.2-2' }} €</span
  >
</div>
