<md-tab-group md-stretch-tabs class="pull">

  <md-tab label="Log in">
    <form class="pad" #loginForm="ngForm">
      <div layout= "column" flex>
        <md-input-container dividerColor="accent" flex>
          <input mdInput placeholder="Username" ngModel name="username" required>
        </md-input-container>

        <md-input-container dividerColor="accent" flex>
          <input mdInput placeholder="Password" ngModel name="password" type="password" required>
        </md-input-container>
      </div>
      <div style="text-align: right">
        <button md-button md-dialog-close class="text-upper">Cancel</button>
        <button md-button (click)="logInSubmit(loginForm.form.value)" [disabled]="!loginForm.form.valid" color="accent" class="text-upper">Submit</button>
      </div>
    </form>
  </md-tab>

  <md-tab label="Sign in">
    <form class="pad" #signForm="ngForm">
      <div layout= "column" flex>
        <md-input-container dividerColor="accent" flex>
          <input mdInput placeholder="Name" ngModel name="name" required>
        </md-input-container>

        <md-input-container dividerColor="accent" flex>
          <input mdInput placeholder="Email" ngModel name="email" required>
        </md-input-container>

        <md-input-container dividerColor="accent" flex>
          <input mdInput placeholder="Password" ngModel name="password" type="password" required>
        </md-input-container>
      </div>

      <md-checkbox #termsd>Accept terms</md-checkbox>

      <div style="text-align: right">
        <button md-button md-dialog-close class="text-upper">Cancel</button>
        <button md-button (click)="signInSubmit(signForm.form.value)" [disabled]="!(signForm.form.valid && termsd.checked)" color="accent" class="text-upper">Submit</button>
      </div>
    </form>
  </md-tab>
</md-tab-group>