@import '../../../variables';

app-public-menu-card {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: $tablet-min-width) {
  app-public-menu-card {
    width: 90%;
  }
}

@media (min-width: 900px) {
  app-public-menu-card {
    width: 75%;
  }
}

@media (min-width: $desktop-min-width) {
  app-public-menu-card {
    width: 50%;
  }
}
