<mat-tab-group mat-stretch-tabs>

  <mat-tab [label]="'userArea.loginTitle' | translate" class="loginTab">
    <form (ngSubmit)="logInSubmit(loginForm.form.value)" #loginForm="ngForm">
      <div>
        <div>
          <mat-form-field color="accent">
            <input matInput [placeholder]="'formFields.username' | translate" ngModel name="username" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent">
            <input matInput [placeholder]="'formFields.password' | translate" ngModel name="password" type="password" required>
          </mat-form-field>
        </div>
      </div>
      <div class="align-right">
        <button name="cancelLogin" mat-button mat-dialog-close>{{'buttons.cancel' | translate | uppercase}}</button>
        <button name="submitLogin" mat-button type="submit" [disabled]="!loginForm.form.valid" color="accent">{{'buttons.login' | translate | uppercase}}</button>
      </div>
    </form>
  </mat-tab>


  <mat-tab [label]="'userArea.signupTitle' | translate" class="registerTab">
    <form (ngSubmit)="signInSubmit(signForm.form.value)" #signForm="ngForm">
      <div class="formFields">
        <div>
          <mat-form-field color="accent">
            <input matInput [placeholder]="'formFields.email' | translate" ngModel name="email" required validateEmail>
            <mat-error>{{'userArea.emailError' | translate}}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent">
            <input matInput type="password" name="password" [placeholder]="'formFields.password' | translate" ngModel required validateEqual="confirmPassword" reverse="true" #password="ngModel">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent">
            <input matInput type="password" name="confirmPassword" [placeholder]="'formFields.confirmPassword' | translate" ngModel required validateEqual="password" reverse="false" #confirmPassword="ngModel">
            <mat-error>{{'alerts.passwordError' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-checkbox #termsd name="registerTerms">{{'formFields.terms' | translate}}</mat-checkbox>

      <div class="align-right">
        <button name="cancelSignUp" mat-button mat-dialog-close>{{'buttons.cancel' | translate | uppercase}}</button>
        <button name="registerSubmit" mat-button type="submit" [disabled]="!(signForm.form.valid && termsd.checked)" color="accent">{{'buttons.register' | translate | uppercase}}</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
