<span mat-dialog-title>{{'bookTable.dialog.title' | translate }}</span>
<mat-dialog-content>
  <div style="margin-bottom:8px;">

    <div>
      <div class="dataRow">
        <span>{{'formFields.date' | translate}}</span>
        <span>{{date}}</span>
      </div>
    </div>

    <div>
      <mat-divider></mat-divider>
      <div class="dataRow">
        <span>{{'formFields.name' | translate}}</span>
        <span style="width:65%; word-break:break-word; text-align:right">{{data.name}}</span>
      </div>
    </div>  

    <div>
      <mat-divider></mat-divider>
      <div class="dataRow">
        <span>{{'formFields.email' | translate}}</span>
        <span style="width:65%; word-break:break-word; text-align:right">{{data.email}}</span>
      </div>
    </div>

    <div>
      <mat-divider></mat-divider>
    </div>
    
    <div>
      <div class="dataRow">
        <span>{{'formFields.assistants' | translate}}</span>
        <span>{{data.assistants}}</span>
      </div>
    </div>
    
    <div>
      <mat-divider></mat-divider>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="align-right">
    <button name="bookTableCancel" mat-button mat-dialog-close>{{'buttons.cancel' | translate}}</button>
    <button name="bookTableConfirm" mat-button (click)="sendBooking()" color="accent">{{'buttons.send' | translate}}</button>
  </div>
</mat-dialog-actions>