[mat-dialog-title] {
    text-transform: uppercase;
}

.dataRow {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

mat-divider {
    margin: 8px 0;
}

mat-dialog-actions {
    justify-content: flex-end;
}

mat-dialog-actions button {
    text-transform: uppercase;
}