<span md-dialog-title class="text-upper">Book table</span>
<md-dialog-content>
  <div layout="column" class="push-bottom-sm" flex>
    <div layout="row" class="justify-space-between" flex>
      <span>Date</span>
      <span>{{data.event.date}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between" flex>
      <span>Hour</span>
      <span>{{data.event.hour}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between" flex>
      <span>Name</span>
      <span>{{data.event.nameOwner}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray" ></span>
    <div layout="row" class="justify-space-between" flex>
      <span>Email</span>
      <span>{{data.event.emailOwner}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between" flex>
      <span>Adults</span>
      <span>{{data.adults}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
      <div layout="row" class="justify-space-between" flex>
        <span>Kids</span>
        <span>{{data.kids}}</span>
      </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
    <div layout="row" class="justify-space-between" flex>
      <span>Invitation number</span>
      <span>{{data.event.tableId}}</span>
    </div>
    <span class="push-bottom-sm push-top-sm" style="border-bottom: 1px solid lightgray"></span>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <div style="width:100%; text-align:right">
    <button md-button md-dialog-close class="text-upper">Cancel</button>
    <button md-button (click)="sendBooking()" color="accent" class="text-upper">Send</button>
  </div>
</md-dialog-actions>