<form class="pad" [formGroup]="bookForm" (ngSubmit)="submit()">
  <div layout="column" flex>
    <span class="title-card property-text-bold text-upper">{{'bookTable.bookingTitle' | translate}}</span>
    <span class="subtitle-card push-bottom">{{'bookTable.bookingSubtitle' | translate}}</span>
  </div>
  <div layout="column" flex>
    <mat-form-field color="accent" flex>
      <input matInput [placeholder]="'formFields.dateTime' | translate" formControlName="bookingDate" [min]="minDate" [owlDateTimeTrigger]="booking1"
             [owlDateTime]="booking1">
      <owl-date-time [pickerMode]="'dialog'" [firstDayOfWeek]="getFirstDayWeek()" #booking1></owl-date-time>
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput [placeholder]="'formFields.name' | translate" formControlName="name">
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          {{'bookTable.formErrors.nameRequired' | translate}}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput [placeholder]="'formFields.email' | translate" formControlName="email">
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          {{'bookTable.formErrors.emailRequired' | translate}}
        </div>
        <div *ngIf="email.errors.pattern">
          {{'bookTable.formErrors.emailPattern' | translate}}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="push-bottom-sm" color="accent" flex>
      <input matInput [placeholder]="'formFields.assistants' | translate" formControlName="assistants" type="number">
      <mat-error *ngIf="assistants.invalid && (assistants.dirty || assistants.touched)">
        <div *ngIf="assistants.errors.required">
          {{'bookTable.formErrors.assistantsRequired' | translate}}
        </div>
        <div *ngIf="assistants.errors.max">
          {{'bookTable.formErrors.assistantsMax' | translate}}
        </div>
        <div *ngIf="assistants.errors.min">
          {{'bookTable.formErrors.assistantsMin' | translate}}
        </div>
      </mat-error>

    </mat-form-field>

    <mat-checkbox data-name="bookTableTerms" class="push-top" #termsd>{{'formFields.terms' | translate}}</mat-checkbox>

  </div>
  <div class="align-right">
    <button name="bookTableSubmit" mat-button type="submit" [disabled]="!(bookForm.valid && termsd.checked)" color="accent"
            class="text-upper">{{'buttons.bookTable' | translate}}</button>
  </div>
</form>
