

<div class="dish-card-parent">

  <div class="row">
    <span class="price">
      {{menuInfo.dish.price | number : '1.2-2'}} €
    </span>
  </div>
      
  <div class="row">
    <h3 class="text-upper">
      {{menuInfo.dish.name}}
    </h3>
  </div>

  <div class="description">
    <div flex=>
      <p>{{menuInfo.dish.description}}</p>
    </div>
  </div>

  <div class="extras">
    <mat-checkbox  *ngFor="let extra of menuInfo.extras"
    [checked]="extra.selected"
    (change)="onSelectExtra(extra)"
    >
      {{extra.name}} +{{extra.price}}€
    </mat-checkbox>
  </div>

  <div>
    <button mat-button
      color="accent"
      class="text-upper"
      (click)="onClickOrder()"
    >
      <span class="order">
        {{'buttons.addToOrder' | translate}}
      </span>
    </button>  
  </div>
</div>

