@import "~variables.scss";

:host {
  display: flex;
  flex-direction: column;
}

.price {
  text-align: right;
  font-size: 2em;
  color: #514f4f;
}

.dish-card-parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.description {
  border: 1px;
  width: 100%;
}

.extras {
  display: flex;
  justify-content: space-between;

  > * {
    margin-bottom: 8px;
  }
  width: 100%;
}

.order {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

@media (min-width: $tablet-min-width) {
  .extras {
    flex-direction: column;
    justify-content: space-around;
  }
}
